/* .row {
    margin-top: 30px;
    float: left;
    width: 100%;
    padding: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 4px;
} */

body {
    margin-top: 10%;
}

.main::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: url("../img/dota2.gif") no-repeat center fixed;
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
}

p {
    font-size: 3em;
    text-align: center;
    font-weight: bolder;
}

img {
    width: 12.4vw;
    height: 25vh;
}

#dotaImg {
    width: 45vw;
    height: 40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}

.row {
    display: flex;
    left: 0%;
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.column {
    flex: nowrap;
    padding: 0px;
    margin: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}