/* https://coryrylan.com/blog/how-to-center-in-css-with-css-grid */

* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 4px;
}

/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
  } */

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

img {
    width: 10vw;
    height: 20vh;
}

.mission {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}