.column {
    margin-top: 30px;
    float: left;
    width: 22%;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 4px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .column {
        width: 100%;
    }
}

img {
    width: 20vw;
    height: 30vh;
}

h2{
    text-align: center;
}