/* Register */
/* Add padding to containers */
.container, .box {
  background-image: url(img/register.jpeg);
    max-width: 450px;
    width: 100%;
    height: auto;
    padding: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-40%, -10%);
    border-radius: 25px;
    border: 1px solid black;
    color: white;
    opacity: 0.85;
    font-family: 'Times New Roman', Times, serif;
  
  } 
  
  /* Full-width input fields */
  input[type="text"],
  input[type="password"] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid black;
    background: white;
  }
  
  input[type="text"]:focus, input[type="password"]:focus {
    background: white;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #fcfcfc;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
 