/* Register */
/* Add padding to containers */
.container {
    max-width: 750px;
    width: 100%;
    height: auto;
    padding: 60px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-40%, -10%);
    border-radius: 25px;
  }
  .box {
    border: 2px solid black;
    margin: 150px;
    padding: 20px;
  }
  
  /* Full-width input fields */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid black;
    background: white;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    background: white;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: white;
    text-align: bottom;
    margin: 600px;
    left: 50px;
  }